<h1>{{ notesTitle }}</h1>
<h4><strong>ngOnint</strong></h4>
<p>`ngOnInit()` is a lifecycle hook method in Angular. It is called once when a component is initialized, after the
  constructor. It is used to perform initial setup tasks, data retrieval, or API calls for the component.</p>
<br>
<ol>
  <li>
    <strong>One-Way Data Binding : <i>It's used to transform Data from Component to View only</i></strong>
    <ol>
      <li>String Interpolation - {{ stringInterpolationExamplePairs }}</li>
      <li>Property Binding - {{ propertyBindingExamplePairs }}</li>
      <li>Class Binding - {{ classBindingExamplePairs }}</li>
      <li>Style Binding - {{ styleBindingExamplePairs }}</li>
    </ol>
  </li>
  <li>
    <strong>Two-Way Data Binding : <i>It's used to transform Data between Component to View & View to
        Component</i></strong>
    <ol>
      <li>Ng Model - {{ ngModelExamplePair }}</li>
    </ol>
  </li>
</ol>
<hr>

<ol>
  <li> <strong>{{ section2 }}</strong>
    <ol>
      <li><strong>Angular Directive: </strong>
        <i> An Angular directive is special type of technology that can manipulate the DOM Object. <br>
          Directives can do HTML elements removing html elements from DOM dynamically.</i>
      </li>
      <li><strong>Angular - Directive (Components)</strong><br><i> Directives are Components without a View
          <strong>&</strong> Angular Components are Directives,
          with a View</i></li>
      <li>
        <strong>Angular - Directive Types</strong>
        <ul>
          <li><strong>Component Directive: </strong><i>which is an angular directive with a template view</i></li>
          <li><strong>Structural Directive: </strong><i>which can change the DOM layout by adding and removing DOM
              elements</i></li>
          <li><strong>Attribute Directive: </strong><i>which can change the appearance or behavior of an element,
              component, or another directive.</i></li>
          <li><strong>Custom Directive: </strong><i>which can create our custom directive from scratch.</i></li>
        </ul>
      </li>
      <li> <strong>Directives</strong>
        <ul>
          <li><strong>NgFor Directive: </strong>
            <ul>
              <li>we use NgFor Directive to render an Array inside the view</li>
              <li>NgFor Directive is a Structural Directive</li>
              <li>With NgFor Directive we can Manipulate the DOM.</li>
            </ul>
          </li>
          <li><strong>NgIf Directive:</strong>
            <ul>
              <li>we use ngIf for conditional statments</li>
            </ul>
          </li>
          <li><strong>Ng-Template Directive (else condition)</strong>
            <ul>
              <li>ng-template tag is used on the replacement of else condition in angular</li>
              <li>we need to assign a parameter with '#' in the if clause to redirect it</li>
            </ul>
          </li>
          <li><strong>Ng-Style Directive</strong>
            <ul>
              <li>ng-style directive is used for styling in the shape of inline-style to the html tags</li>
            </ul>
          </li>
          <li><strong>Ng-Class Directive</strong>
            <ul>
              <li>ng-class directive is used for assigning classes for use in CSS stylesheet for design</li>
            </ul>
          </li>
        </ul>
      </li>
    </ol>
  </li>
  <br>
  <li> <strong>{{ section1 }}</strong>
    <ol>
      <li><strong>
          {{ stringInterpolationTitle }}
        </strong>
        <ul>
          <li>{{ stringInterpolationDef }}</li>
        </ul>
      </li>
      <li>
        <strong>
          {{propertyBindingTitle}}
          <ul>
            <li>
              <img [src]="propertyBindingImgUrl" [alt]="propertyBindingImgName">
            </li>
          </ul>
        </strong>
      </li>
      <li>
        <strong>
          {{classBindingTitle}}
        </strong>
        <ol>
          <li>
            <p class="text-color">using class biding implementing css style witout condition</p>
          </li>
          <li>
            <p [class.text-color]="enableVar">using class binding implementing css style on condition</p>
          </li>
        </ol>
      </li>
      <li>
        <strong>
          {{styleBindingTitle}}
        </strong>
        <ul>
          <li>
            <a [href]="styleBindingUrl" target="_blank"><strong>click me for checking HTML DOM
                object Name</strong></a>
            <p [style.color]="colorVar ? 'purple' : 'yellow'">Style Binding - change color on condition</p>
          </li>
        </ul>
      </li>
      <li><strong>{{eventBindingTitle}}</strong>
        <ul>
          <li>
            <button (click)="btnClick()"> {{btnTitle}}</button>
          </li>
          <li>
            <p [style.color]="clicked ? 'green' : 'red'"> {{ clicked }} </p>
          </li>
        </ul>
      </li>
      <li>
        <strong>{{ eventFilteringTitle }}</strong>
        <ul>
          <li><input type="text" (keyup.enter)="onKeyUp()" /></li>
          <li>{{ eventKeyFilterCheck == true ? eventKeyFilterMsg : ""}}</li>
        </ul>
      </li>
      <li>
        <strong>{{ templateVariableTitle}}</strong>
        <ul>
          <li><strong>
              <p>below text box's value will be displayed if you press enter after writing the string</p>
            </strong></li>
          <li><input type="text" (keyup.enter)="onTemplateVariable(msg.value)" #msg></li>
          <li>{{ msg.value }}</li>
        </ul>
      </li>
      <li>
        <strong>{{ twoWayDataBindingTitle }}</strong>
        <ul>
          <li><input type="text" [(ngModel)]="userName" (keyup.enter)="ontwDB()"></li>
          <li><strong>
              <p>{{ontwDBCheck == true ? userName : ""}}</p>
            </strong></li>
        </ul>
      </li>
    </ol>
  </li>
</ol>