<h1>{{ notesTitle }}</h1>
<h4><strong>ngOnint</strong></h4>
<p>`ngOnInit()` is a lifecycle hook method in Angular. It is called once when a component is initialized, after the
  constructor. It is used to perform initial setup tasks, data retrieval, or API calls for the component.</p>
<hr>
<ol>
  <li> <strong>{{ section1 }}</strong>
    <ol>
      <li><strong>
          {{ stringInterpolationTitle }}
        </strong>
        <ul>
          <li>{{ stringInterpolationDef }}</li>
        </ul>
      </li>
      <li>
        <strong>
          {{propertyBindingTitle}}
          <ul>
            <li>
              <img [src]="propertyBindingImgUrl" [alt]="propertyBindingImgName">
            </li>
          </ul>
        </strong>
      </li>
      <li>
        <strong>
          {{classBindingTitle}}
        </strong>
        <ol>
          <li>
            <p class="text-color">using class biding implementing css style witout condition</p>
          </li>
          <li>
            <p [class.text-color]="enableVar">using class binding implementing css style on condition</p>
          </li>
        </ol>
      </li>
      <li>
        <strong>
          {{styleBindingTitle}}
        </strong>
        <ul>
          <li>
            <a [href]="styleBindingUrl"><strong>click me for checking HTML DOM
                object Name</strong></a>
            <p [style.color]="colorVar ? 'purple' : 'yellow'">Style Binding - change color on condition</p>
          </li>
        </ul>
      </li>
      <li><strong>{{eventBindingTitle}}</strong>
        <ul>
          <li>
            <button (click)="btnClick()"> {{btnTitle}}</button>
          </li>
          <li>
            <p [style.color]="clicked ? 'green' : 'red'"> {{ clicked }} </p>
          </li>
        </ul>
      </li>
    </ol>
  </li>
</ol>
