<div class="container border mt-5 mb-5 pt-3 pl-5 pr-5">
  <h1><u>{{ notesTitle }}</u></h1>
  <h4></h4>
  <p><strong>{{ ngOnintString }}</strong>: `ngOnInit()` is a lifecycle hook method in Angular. It is called
    once when a component is initialized, after the constructor. It is used to perform initial setup tasks, data
    retrieval, or API calls for the component.</p>

  <hr>

  <ol>
    <li><strong>{{ section7 }}</strong>
      <ol>
        <li><strong>Routing: </strong><i>basically it means that navigating between pages.</i></li>
        <li><strong>Routers: </strong><i>we use Angular routers navigate through components. It's a main building core
            module of Angular Framework. This includes bunch of directives and modules which helps us to implmenet
            Routing & Navigation.</i>
          <ul>
            <li><strong>Implementation Steps:</strong>
              <ol>
                <li>Configure the Routes</li>
                <li>Add Router-Outlet</li>
                <li>Add Navigation Link Paths.</li>
              </ol>
            </li>
          </ul>
        </li>
        <li><strong>Router Link: </strong><i>It is a directive for navigating to a different route declaratively. </i>
        </li>
        <li><strong>Router Outlet: </strong><i>It's a directive from the router library that is used to insert the
            component matched by routes to be displayed on the screen.</i></li>
        <li><strong>Router Link Active: </strong><i>It's a directive which lets you add a CSS class to an element when
            the link's route becomes active.</i></li>
        <li><strong>Roter with Parameter: </strong><i>When you have a route that needs to handle dynamic data, such as
            an ID or a user name, you can define route parameters in Angular. Route parameters are placeholders within
            the route's URL that can hold values.</i></li>
        <li><strong>Router Get Parameter: </strong><i>To retrieve the parameter from the route, you use the
            ActivatedRoute service provided by Angular.</i></li>
        <li><strong>RxJs:</strong>
          <ul>
            <li><strong>Observable: </strong><i>An Observable is a sequence of data that is emitted asynchronously or
                synchronously over period of time or An Observable will continously observe a set of stream data and
                automatically update or track the sequence of data whenever there's something changed!</i></li>
          </ul>
        </li>
      </ol>
    </li>
    <li><strong>{{ section6 }}</strong>
      <ol>
        <li><strong>Definiton</strong><i></i></li>
        <li>In Reactive Form there's a two Variables on the <strong>Typescript/Angular</strong> End for Forms & one on
          the <strong>HTML/Template</strong> end for rendering/connecting one of the variable from the
          <strong>Angular/Typescript</strong> end.
          <ul>
            <li><strong>formGroup: </strong><i>It is used with FormControl to track the value and validate the state of
                form control.</i></li>
            <li><strong>formControl: </strong><i>It is a class in Angular that tracks the value and validation status of
                an individual form control.</i></li>
            <li><strong>formControlName: </strong><i>It is a variable which is used on the HTML/Template end to
                render/connect the value from <strong>formControl</strong> variable's</i></li>
            <li><strong>formArray: </strong><i>It is a way to manage the collection of Form Controls in Angular.</i>
            </li>
            <li><strong>Form Builder: </strong><i>It helps you streamline the process of building complex forms while
                avoiding repetition</i></li>
          </ul>
        </li>
      </ol>
    </li>
    <li><strong>{{ section5 }}</strong>
      <ol>
        <li><strong>Definition: </strong><i>Template-driven forms use two-way data binding to update the data model in
            the
            component as changes are made in the template and vice versa.</i></li>
        <li>In Template Driven Form we'll acheive the implmentation by using <strong>ngForm</strong>.</li>
        <li>In Template Driven Form there's a two Variables on the <strong>Typescript/Angular</strong> End for Forms
          <ul>
            <li><strong>formGroup: </strong><i>It is used with FormControl to track the value and validate the state of
                form control.</i></li>
            <li><strong>formControl: </strong><i>It is a class in Angular that tracks the value and validation status of
                an individual form control.</i></li>
          </ul>
        </li>
        <li><strong>ngModel</strong> single handed used for capturing the value of <strong>formControl</strong> inputs
          but there's a condition that if you use single <strong>ngModel</strong> in input field then it's your
          responsibility to compulsory add the <strong>name</strong> attribute of that input field.</li>
      </ol>
    </li>
    <li><strong>{{ section4 }}</strong>
      <ol>
        <li><strong>Definition: </strong><i>Simply we use angular services, to share data and common methods among
            components whether there is a relationship between components or not</i></li>
        <li><strong>TOPICS</strong>
          <ul>
            <li>Interface</li>
            <li>Providers</li>
            <li>Dependency Injection using @Injectable Decorator</li>
            <li>service calling in constructor by using single variable</li>
          </ul>
        </li>
      </ol>
    </li>
    <li><strong>{{ section3 }}</strong>
      <ol>
        <li><strong>Definition: </strong><i>pipes are used to transform data into a particular format when we only need
            that data transformed 'in' a template or the HTML View.</i></li>
        <li><strong>TYPES OF PIPES:</strong>
          <ul>
            <li>UpperCase Pipe</li>
            <li>LowerCase Pipe</li>
            <li>JSON Pipe</li>
            <li>Date Pipe</li>
            <li>Currency Pipe</li>
            <li>Splice Pipe</li>
            <li>Percent Pipe</li>
            <li>Decimal/Number Pipe</li>
          </ul>
        </li>
      </ol>
    </li>
    <br>
    <li> <strong>{{ section2 }}</strong>
      <ol>
        <li><strong>Angular Directive: </strong>
          <i> An Angular directive is special type of technology that can manipulate the DOM Object. <br>
            Directives can do HTML elements removing html elements from DOM dynamically.</i>
        </li>
        <li><strong>Angular - Directive (Components)</strong><br><i> Directives are Components without a View
            <strong>&</strong> Angular Components are Directives,
            with a View</i></li>
        <li>
          <strong>Angular - Directive Types</strong>
          <ul>
            <li><strong>Component Directive: </strong><i>which is an angular directive with a template view</i></li>
            <li><strong>Structural Directive: </strong><i>which can change the DOM layout by adding and removing DOM
                elements</i></li>
            <li><strong>Attribute Directive: </strong><i>which can change the appearance or behavior of an element,
                component, or another directive.</i></li>
            <li><strong>Custom Directive: </strong><i>which can create our custom directive from scratch.</i></li>
          </ul>
        </li>
        <li><strong>Definitions</strong>
          <ol>
            <li><strong>STRUCTURAL DIRECTIVE</strong>
              <ul>
                <li>Responsible for the HTML Layout</li>
                <li>Shape or Reshape the DOM Structure by adding and removing HTML Elements</li>
                <li>You can Identify by leading * symbol</li>
                <li>Structural Directives are:
                  <ul>
                    <li>*ngFor</li>
                    <li>*ngIf</li>
                    <li>*ngSwitchCase</li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><strong>ATTRIBUTE DIRECTIVE</strong>
              <ul>
                <li>Change the Appearances or the Behavior of a DOM Element</li>
                <li>Attribute Directives are:
                  <ul>
                    <li>ngStyle</li>
                    <li>ngClass</li>
                  </ul>
                </li>
              </ul>
            </li>
          </ol>
        </li>
        <li> <strong>Directives</strong>
          <ul>
            <li><strong>NgFor Directive: </strong>
              <ul>
                <li>we use NgFor Directive to render an Array inside the view</li>
                <li>NgFor Directive is a Structural Directive</li>
                <li>With NgFor Directive we can Manipulate the DOM.</li>
              </ul>
            </li>
            <li><strong>NgIf Directive:</strong>
              <ul>
                <li>we use ngIf for conditional statments</li>
              </ul>
            </li>
            <li><strong>Ng-Template Directive (else condition)</strong>
              <ul>
                <li>ng-template tag is used on the replacement of else condition in angular</li>
                <li>we need to assign a parameter with '#' in the if clause to redirect it</li>
              </ul>
            </li>
            <li><strong>Ng-Style Directive</strong>
              <ul>
                <li>ng-style directive is used for styling in the shape of inline-style to the html tags</li>
              </ul>
            </li>
            <li><strong>Ng-Class Directive</strong>
              <ul>
                <li>ng-class directive is used for assigning classes for use in CSS stylesheet for design</li>
              </ul>
            </li>
          </ul>
        </li>
      </ol>
    </li>
    <br>
    <li> <strong>{{ section1 }}</strong>
      <ol>
        <li><strong>
            {{ stringInterpolationTitle }}
          </strong>
          <ul>
            <li>{{ stringInterpolationDef }}</li>
          </ul>
        </li>
        <li>
          <strong>
            {{propertyBindingTitle}}
            <ul>
              <li>
                <img [src]="propertyBindingImgUrl" [alt]="propertyBindingImgName">
              </li>
            </ul>
          </strong>
        </li>
        <li>
          <strong>
            {{classBindingTitle}}
          </strong>
          <ol>
            <li>
              <p class="text-color">using class biding implementing css style witout condition</p>
            </li>
            <li>
              <p [class.text-color]="enableVar">using class binding implementing css style on condition</p>
            </li>
          </ol>
        </li>
        <li>
          <strong>
            {{styleBindingTitle}}
          </strong>
          <ul>
            <li>
              <a [href]="styleBindingUrl" target="_blank"><strong>click me for checking HTML DOM
                  object Name</strong></a>
              <p [style.color]="colorVar ? 'purple' : 'yellow'">Style Binding - change color on condition</p>
            </li>
          </ul>
        </li>
        <li><strong>{{eventBindingTitle}}</strong>
          <ul>
            <li>
              <button class="btn btn-primary" (click)="btnClick()"> {{btnTitle}}</button>
            </li>
            <li>
              <p [style.color]="clicked ? 'green' : 'red'"> {{ clicked }} </p>
            </li>
          </ul>
        </li>
        <li>
          <strong>{{ eventFilteringTitle }}</strong>
          <ul>
            <li><input type="text" (keyup.enter)="onKeyUp()" /></li>
            <li>{{ eventKeyFilterCheck == true ? eventKeyFilterMsg : ""}}</li>
          </ul>
        </li>
        <li>
          <strong>{{ templateVariableTitle}}</strong>
          <ul>
            <li><strong>
                <p>below text box's value will be displayed if you press enter after writing the string</p>
              </strong></li>
            <li><input type="text" (keyup.enter)="onTemplateVariable(msg.value)" #msg></li>
            <li>{{ msg.value }}</li>
          </ul>
        </li>
        <li>
          <strong>{{ twoWayDataBindingTitle }}</strong>
          <ul>
            <li><input type="text" [(ngModel)]="userName" (keyup.enter)="ontwDB()"></li>
            <li><strong>
                <p>{{ontwDBCheck == true ? userName : ""}}</p>
              </strong></li>
          </ul>
        </li>
        <li><strong>DIFFERENCES</strong>
          <ul>
            <li>
              <strong>One-Way Data Binding : <i>It's used to transform Data from Component to View only</i></strong>
              <ol>
                <li>String Interpolation - {{ stringInterpolationExamplePairs }}</li>
                <li>Property Binding - {{ propertyBindingExamplePairs }}</li>
                <li>Class Binding - {{ classBindingExamplePairs }}</li>
                <li>Style Binding - {{ styleBindingExamplePairs }}</li>
              </ol>
            </li>
            <li>
              <strong>Two-Way Data Binding : <i>It's used to transform Data between Component to View & View to
                  Component</i></strong>
              <ol>
                <li>Ng Model - {{ ngModelExamplePair }}</li>
              </ol>
            </li>
          </ul>
        </li>
      </ol>
    </li>
  </ol>
</div>