<!-- <h1>Angular App</h1> -->

<!-- TASKS -->
<!-- <app-task-one></app-task-one> -->
<!-- <app-task-two></app-task-two> -->

<!-- VIEWS -->
<!-- <app-directives></app-directives> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-ps-component></app-ps-component> -->
<!-- <app-template-driven-forms></app-template-driven-forms> -->
<!-- <app-reactive-forms></app-reactive-forms> -->
<!-- <app-custom-validation></app-custom-validation> -->
<!-- <app-post-list></app-post-list> -->
<!-- <app-home></app-home> -->
<!-- <app-observables></app-observables> -->
<!-- <app-page-one></app-page-one> -->
<!-- <app-page-two></app-page-two> -->
<!-- <app-user></app-user> -->
<app-user-list></app-user-list>

<!-- NOTES -->
<!-- <app-notes></app-notes> -->