<div class="pipes">

  <!-- uppercase pipe -->
  <h2 class="uppperCase">
    <i>upperCase pipe</i> :
    {{ upperCaseValue | uppercase }}
  </h2>

  <!-- lowercase pipe -->
  <h2 class="lowercase">
    <i>lowercase pipe</i> :
    {{ lowerCaseValue | lowercase }}
  </h2>

  <!-- number pipe -->
  <h2 class="number">
    <i>number pipe</i> :
    {{ numberValue | number }}
  </h2>

  <!-- decimal pipe -->
  <h2 class="decimal">
    <i>decimal pipe</i> :
    {{ decimalValue | number : '1.2-3'}}
  </h2>

  <!-- currency pipe -->
  <h2 class="currency">
    <i>currency pipe</i> :
    {{ currencyValue | currency : 'EUR' }}
    or
    {{ currencyValue | currency : 'USD' : false : "2.1-2" }}
  </h2>

  <!-- date pipe -->
  <h2 class="date">
    <i>date pipe</i> :
    ({{ dateValue | date }}
    ) - or - (
    {{ dateValue | date : 'short' }}
    ) - or - (
    {{ dateValue | date : 'long' }}
    )
  </h2>

  <!-- json pipe -->
  <h2 class="json">
    <i>json pipe</i> :
    {{ jsonValue | json }}
  </h2>

  <!-- percentage pipe -->
  <h2 class="percent">
    <i>percent pipe</i> :
    ({{ percentValue | percent }}
    ) - or - (
    {{ percentValue | percent : '1.1-1'}})
  </h2>

  <!-- slice pipe -->
  <div class="slice">
    <h2>
      <i>slice pipe</i> :
      ({{ sliceValue | slice : 2:4 }}
      ) - or - (
      {{ sliceValue | slice : 1:5 }})
    </h2>
  </div>

  <!-- custom pipe -->
  <div class="custom-pipe">
    <h2>
      <i>custom pipe</i> :
      {{ customValue.city | customPipe }}
    </h2>
  </div>

  <!-- custom pipe with arguments -->
  <div class="custom-pipe-withArguments">
    <h2>
      <i>custom pipe with arguments</i> :
      {{ customValueWithArguments | summary : 100 }}
    </h2>
  </div>

</div>